* {
    padding: 0;
    margin: 0;
    background-color: #DBDFFD;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

#mainHeading {
    padding: 18px;
    background-color: #242F9B;
    color: white;
}

#mainHeading h1 {
    background: none;
}

#btn {
    margin-top: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #242F9B;
    background-color: #242F9B;
    color: white;
    margin: 20 20;
    font-size: large;
    font-weight: bolder;
}

#selectedImageFile {
    object-fit: scale-down;
    max-width: 400px;
    border-radius: 5px;
    padding: 0;
}

form {
    background-color: #646FD4;
    border: 2px solid #DBDFFD;
    border-radius: 10px;
    display: inline-block;
    padding: 50px;
    margin: 10px;
}

#fileSelectorBTN {
    font-size: larger;
    padding: 10px;
    margin: 20px;
    border: 1px solid #646FD4;
    border-radius: 10px;
    font-weight: bolder;

}

#task {
    margin-top: 20px;
}

#fileInputBar {
    margin-top: 20px;
}